*{
    margin: 0px;
    padding: 0px;
}
.main-body {
    min-height: 100vh;
    background-image: url('./assets/home.jpg');
  background-size: 100%;

    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
  }
  